<?xml version="1.0"?>
<config>
    <modules>
        <Hauptrolle_FacebookComments>
            <version>1.0.0</version>
        </Hauptrolle_FacebookComments>
    </modules>

    <frontend>
        <layout>
            <updates>
                <hauptrolle_facebookcomments>
                    <file>hauptrolle_facebookcomments.xml</file>
                </hauptrolle_facebookcomments>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <hauptrolle_facebookcomments>
                <class>Hauptrolle_FacebookComments_Model</class>
            </hauptrolle_facebookcomments>
        </models>
        <helpers>
            <hauptrolle_facebookcomments>
                <class>Hauptrolle_FacebookComments_Helper</class>
            </hauptrolle_facebookcomments>
        </helpers>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hauptrolle>
                                            <title>Hauptrolle - All</title>
                                        </hauptrolle>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>